img,
legend {
    border: 0
}

*,
legend,
td,
th {
       padding: 0
}




*,
body,
html,
p {
    margin: 0
}

.btn,
a,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input {
    -webkit-transition: .4s;
    -moz-transition: .4s
}

pre,
textarea {
    overflow: auto
}

a,
a:active,
a:hover,
button,
ins,
mark {
    text-decoration: none
}

.preloader,
.table,
table,
textarea {
    width: 100%
}

.btn,
a,
button {
    box-shadow: none
}

.btn,
.btn:hover {
    color: #fff
}

.breadcrumbs h2,
.breadcrumbs ul li,
.breadcrumbs ul li a,
.btn,
.section-title h2 {
    text-transform: capitalize
}

.blog-grids.pagination,
.pagination.center,
.preloader,
.section-title {
    text-align: center
}

#content[tabindex="-1"]:focus,
a,
button {
    outline: 0
}

.widget select,
embed,
iframe,
img,
object,
pre {
    max-width: 100%
}

html {
    font-family: Poppins, sans-serif;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-size-adjust: 100%;
    box-sizing: border-box
}

body,
html {
    height: 100%
}

body {
    background: #fff;
    position: relative
}

.bypostauthor,
.infinity-end.neverending .site-footer,
.main-navigation.toggled ul,
.menu-toggle,
.sticky,
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block
}

audio,
canvas,
progress,
video {
    display: inline-block;
    vertical-align: baseline
}

audio:not([controls]) {
    display: none;
    height: 0
}

.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer,
.slicknav_menu,
.updated:not(.published),
[hidden],
template {
    display: none
}

a:active,
a:hover {
    outline: 0
}

.table {
    display: table;
    height: 100%
}

.table-cell {
    display: table-cell;
    vertical-align: middle
}

img {
    height: auto
}

svg:not(:root) {
    overflow: hidden
}

button,
input,
optgroup,
select,
textarea {
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

input[type=checkbox],
input[type=radio] {
    box-sizing: border-box;
    padding: 0
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 0 1.5em
}

body,
button,
input,
optgroup,
select,
textarea {
    color: #424646;
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px
}

code,
kbd,
pre,
tt,
var {
    font-family: Poppins, sans-serif;
    font-size: .9375rem
}

p {
    color: #757575;
    line-height: 24px;
    font-weight: 400
}

a,
button,
input {
    font-weight: 400
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
img,
input {
    transition: .4s
}

cite,
dfn,
em,
i {
    font-style: italic
}

.hentry,
.widget,
address {
    margin: 0 0 1.5em
}

pre {
    background: #eee;
    line-height: 1.6;
    margin-bottom: 1.6em;
    padding: 1.6em
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help
}

ins,
mark {
    background: #fff9c0
}

big {
    font-size: 125%
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
    color: #2c2d3f
}

a,
button {
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s
}

.preloader {
    position: fixed;
    left: 0;
    height: 100%;
    z-index: 9999999;
    -webkit-transition: .9s;
    transition: .9s
}

.breadcrumbs,
.breadcrumbs ul li,
.btn,
.overlay,
.section-title h2 {
    position: relative
}

.preloader .loader {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 45%;
    -webkit-transform: translateY(-45%);
    transform: translateY(-45%);
    -webkit-transition: .5s;
    transition: .5s
}

.preloader .loader .loader-inner {
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: calc(40% - 21px);
    top: calc(40% - 21px);
    border-right: 0;
    border-top-color: transparent;
    -webkit-animation: 1s cubic-bezier(.42, .61, .58, .41) infinite loader-inner;
    animation: 1s cubic-bezier(.42, .61, .58, .41) infinite loader-inner
}

.preloader .loader .indicator {
    position: absolute;
    right: 0;
    left: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) scale(1.5);
    transform: translateY(-50%) scale(1.5)
}

.preloader .loader .indicator svg polyline {
    fill: none;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round
}

.preloader .loader .indicator svg polyline#back {
    stroke: #fff
}

.preloader .loader .indicator svg polyline#front {
    stroke: #306E96;
    stroke-dasharray: 12, 36;
    stroke-dashoffset: 48;
    -webkit-animation: 1s linear infinite dash;
    animation: 1s linear infinite dash
}

.preloader::after,
.preloader::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60%;
    z-index: -1;
    background: #ffffff;
    -webkit-transition: .9s;
    transition: .9s
}

.preloader::after {
    left: auto;
    right: 0
}

.btn:before,
.overlay:before {
    position: absolute;
    left: 0;
    top: 0;
    content: ""
}

.preloader.preloader-deactivate {
    visibility: hidden
}

.preloader.preloader-deactivate::after,
.preloader.preloader-deactivate::before {
    width: 0
}

.preloader.preloader-deactivate .loader {
    opacity: 0;
    visibility: hidden
}

@-webkit-keyframes loader-outter {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@keyframes loader-outter {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loader-inner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

@keyframes loader-inner {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg)
    }
}

@-webkit-keyframes dash {
    62.5% {
        opacity: 0
    }

    to {
        stroke-dashoffset: 0
    }
}

@keyframes dash {
    62.5% {
        opacity: 0
    }

    to {
        stroke-dashoffset: 0
    }
}

.btn {
    padding: 13px 25px;
    font-size: 14px;
    font-weight: 500;
    background: #306E96;
    display: inline-block;
    transition: .4s;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    border: none;
    border-radius: 4px
}

.btn:before {
    z-index: -1;
    bottom: 0;
    right: 0;
    background: #2c2d3f;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition: .4s;
    -moz-transition: .4s;
    transition: .4s;
    border-radius: 4px
}

.btn:hover:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1)
}

.section {
    padding: 40px 0
}

.section-title {
    margin-bottom: 60px;
    padding: 0 250px
}

.section-title h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 24px;
    color: #2c2d3f
}

.breadcrumbs h2,
dt {
    font-weight: 700
}

.section-title p {
    font-size: 15px;
    color: #888;
    margin-top: 15px
}

.overlay:before {
    height: 100%;
    width: 100%;
    background: #306E96;
    opacity: .8;
    z-index: 1;
}

.breadcrumbs {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px 0
}

.breadcrumbs .bread-inner {
    z-index: 22;
    text-align: center
}

.breadcrumbs h2 {
    color: #fff;
    font-size: 38px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 1;
}

.breadcrumbs .bread-list {
    display: inline-block;
    margin-top: 20px
}

.breadcrumbs ul li {
    display: inline-block;
    color: #fff;
    font-size: 15px;
    font-weight: 500
}

.breadcrumbs ul li i {
    margin: 0 10px;
    font-size: 14px;
    font-weight: 600;
    color: #fff
}

.breadcrumbs ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    padding: 0
}

.breadcrumbs ul li a:hover {
    color: #2c2d3f
}

.breadcrumbs ul li.active a {
    color: #fff;
    display: inline-block
}

.pagination {
    text-align: left;
    margin: 50px 0 0;
    display: block
}

.pagination .pagination-list li {
    margin-right: 5px;
    display: inline-block
}

.pagination .pagination-list li:last-child {
    margin-right: 0
}

.pagination .pagination-list li a {
    background: #f6f7fb;
    color: #666;
    padding: 6px 18px;
    font-weight: 400;
    border: 1px solid #e1e1e1;
    font-size: 16px;
    border-radius: 4px
}

.pagination .pagination-list li.active a,
.pagination .pagination-list li:hover a {
    background: #306E96;
    color: #fff;
    border-color: transparent
}

.pagination .pagination-list li a i {
    font-size: 15px
}

.blog-grids.pagination {
    margin-top: 50px
}

*,
:after,
:before {
    box-sizing: inherit
}

hr {
    box-sizing: content-box;
    background-color: #ccc;
    border: 0;
    height: 1px;
    margin-bottom: 1.5em
}

ul,
ul li {
    list-style: none;
    padding: 0;
    margin: 0
}

li>ol,
li>ul {
    margin-bottom: 0;
    margin-left: 1.5em
}

dd {
    margin: 0 1.5em 1.5em
}

figure {
    margin: 1em 0
}

button,
input[type=button],
input[type=reset],
input[type=submit] {
    border: 1px solid;
    border-color: #ccc #ccc #bbb;
    border-radius: 3px;
    background: #e6e6e6;
    color: rgba(0, 0, 0, .8);
    line-height: 1
}

input[type=color],
input[type=date],
input[type=datetime-local],
input[type=datetime],
input[type=email],
input[type=month],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=tel],
input[type=text],
input[type=time],
input[type=url],
input[type=week],
textarea {
    color: #666;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 3px;
    font-weight: 400
}

input[type=color]:focus,
input[type=date]:focus,
input[type=datetime-local]:focus,
input[type=datetime]:focus,
input[type=email]:focus,
input[type=month]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=range]:focus,
input[type=search]:focus,
input[type=tel]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
input[type=week]:focus,
textarea:focus {
    color: #111;
    font-weight: 400
}

select {
    border: 1px solid #ccc
}

a,
a:active,
a:focus,
a:hover,
a:visited {
    color: inherit
}

.main-navigation {
    clear: both;
    display: block;
    float: left;
    width: 100%
}

.main-navigation ul {
    display: none;
    list-style: none;
    margin: 0;
    padding-left: 0
}

.main-navigation a,
.screen-reader-text:focus {
    display: block;
    text-decoration: none
}

.main-navigation ul ul {
    box-shadow: 0 3px 3px rgba(0, 0, 0, .2);
    float: left;
    position: absolute;
    top: 100%;
    left: -999em;
    z-index: 99999
}

.main-navigation ul ul ul {
    left: -999em;
    top: 0
}

.main-navigation ul ul li.focus>ul,
.main-navigation ul ul li:hover>ul {
    left: 100%
}

.main-navigation ul ul a {
    width: 200px
}

.main-navigation ul li.focus>ul,
.main-navigation ul li:hover>ul {
    left: auto
}

.main-navigation li {
    float: left;
    position: relative
}

@media screen and (min-width:37.5em) {
    .menu-toggle {
        display: none
    }

    .main-navigation ul {
        display: block
    }
}

.site-main .comment-navigation,
.site-main .post-navigation,
.site-main .posts-navigation {
    margin: 0 0 1.5em;
    overflow: hidden
}

.comment-navigation .nav-previous,
.post-navigation .nav-previous,
.posts-navigation .nav-previous {
    float: left;
    width: 50%
}

.comment-navigation .nav-next,
.post-navigation .nav-next,
.posts-navigation .nav-next {
    float: right;
    text-align: right;
    width: 50%
}

.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    font-size: .875rem;
    font-weight: 700;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    top: 5px;
    width: auto;
    z-index: 100000
}

.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto
}

.clear:after,
.clear:before,
.comment-content:after,
.comment-content:before,
.entry-content:after,
.entry-content:before,
.site-content:after,
.site-content:before,
.site-footer:after,
.site-footer:before,
.site-header:after,
.site-header:before {
    content: "";
    display: table;
    table-layout: fixed
}

.clear:after,
.comment-content:after,
.entry-content:after,
.site-content:after,
.site-footer:after,
.site-header:after {
    clear: both
}

.entry-content,
.entry-summary,
.page-content {
    margin: 1.5em 0 0
}

.page-links {
    clear: both;
    margin: 0 0 1.5em
}

.comment-content a {
    word-wrap: break-word
}

.comment-content .wp-smiley,
.entry-content .wp-smiley,
.page-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0
}

@-webkit-keyframes waves {
    0% {
        -webkit-transform: scale(.2, .2);
        transform: scale(.2, .2);
        opacity: 0
    }

    50% {
        opacity: .9
    }

    100% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9);
        opacity: 0
    }
}

@keyframes waves {
    0% {
        -webkit-transform: scale(.2, .2);
        transform: scale(.2, .2);
        opacity: 0
    }

    50% {
        opacity: .9
    }

    100% {
        -webkit-transform: scale(.9, .9);
        transform: scale(.9, .9);
        opacity: 0
    }
}

@-webkit-keyframes lineanim {
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top left;
        transform-origin: top left
    }

    50.1% {
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left
    }

    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left
    }
}

@keyframes lineanim {
    50% {
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
        -webkit-transform-origin: top left;
        transform-origin: top left
    }

    50.1% {
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left
    }

    100% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: bottom left;
        transform-origin: bottom left
    }
}
